<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
    <name>FootballNewsletter</name>
    <description>FootballNewsletter</description>
    <author href="https://github.com/FootballNewsletter/FootballNewsletter">
		Jarosław Stropa, Szymon Serwin, Łukasz Papież, Damian Zając
	</author>
	<platform name="android" />

	<plugin name="cordova-plugin-firebase" spec="1.0.0" />
	<plugin name="cordova-plugin-device" spec="^1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
	<plugin name="cordova-plugin-browsertab" spec="0.2.0" />
	<plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />

	<universal-links>
		<host name="https://qp54z.app.goo.gl" scheme="https" />
		<host name="footballnewsletter-c366f.firebaseapp.com" scheme="https">
			<path url="/__/auth/callback"/>
		</host>
	</universal-links>

</widget>